<html>

<head th:replace="~{base :: head}"></head>
<title>Cadastrar nova cidade</title>
<body>
    <div class="container">
        <div th:replace="~{base :: titulo('Cadastrar cidade')}"></div>
        <nav th:replace="~{base :: buttons}"></nav>
        <div class="card mt-3">
            <div class="card-body">
                <form th:object="${requisicaoNovaCidade}" action="/cidade/novo" method="POST">

                        <div class="form-floating col-12 me-3">
                            <input th:field="*{nomeCidade}" th:errorclass="is-invalid" class="form-control mb-3"
                                placeholder="Nome da Cidade" />
                            <label for="nomeCidade">Nome da cidade</label>
                            <div class="invalid-feedback" th:errors="*{nomeCidade}">
                                Campo não pode estar em branco!
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <select class="form-select" th:field="*{estado}" th:errorclass="is-invalid">
                                <option value="null" selected disabled>Selecione o estado</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{estado}">
                                Campo não pode estar em branco!
                            </div>
                        </div>

                    <button type=submit class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>